/* Carousel */
.carousel-caption {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 1em;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
}

/* Artesanias del Corazon */
.carousel-caption h4 {
    color: paleturquoise;
    font-size: 3em;
    padding: 10px;
    border-radius: 5px;
}

/* Slogan */
.carousel-caption p {
    color: rgb(250, 97, 148);
    font-size: 2em;
    padding: 10px;
    border-radius: 5px;

}

/*Imagenes*/
.c-item {
    height: 320px;
}

.imagen {
    height: 100%;
    object-fit: cover;
}
/* Fin del carousel */

/* Navbar */
.navbar-custom {
    background-color: #b38867;
}
/*Fin del NavBar*/

body {
    background: #cdcdc0;
}

/*Orden de la galeria*/
.contenedor {
    padding: 50px;
}
/*Fin del orden de la galeria*/
